/* FEUILLE STYLE DE LA PAGE BOUTIQUE */

h2 {
  color: #67c23c;
}

.items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.articleCard {
  border: 1px solid #f8f9fa;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    transform: scale(1.02);
  }
}

.ficheArticle {
  .addcart {
    background-color: #7db769;
    padding: 10px 30px 10px 30px;
    border: none;
    transition: 0.4s;

    &:hover {
      transform: scale(1.02);
    }
  }
}

.panierVide {
  padding: 40px 0 80px 0;
  text-align: center;
  font-size: 24px;

  img {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

.pagePanier {
  a {
    text-decoration: none;
    color: #161616;
  }

  .panier-picture {
    border-radius: 5px;
    max-height: 200px;
    max-width: 200px;
    margin-left: 1em;
  }
  .panierCard {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid #f8f9fa;
    transition-duration: 0.4s;
    border-radius: 10px;

    &:hover {
      transform: scale(1.02);
    }
  }

  .price {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;

    span {
      font-weight: bold;
      margin-left: 5px;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

    button.shop {
      padding: 10px 25px 10px 25px;
      border-radius: 10px;
      border: none;
      background-color: #eff0f2;
      color: #161616;
      transition: 0.4s;

      &:hover {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }

    button.payment {
      padding: 10px 25px 10px 25px;
      border-radius: 10px;
      border: none;
      background-color: #67c23c;
      color: #fff;
      transition: 0.4s;

      &:hover {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }

    button.clean {
      background-color: #dc3545;
      margin-right: 1rem;

      &:hover {
        opacity: 0.8;
        transition: 0.4s;
      }
    }
  }
}

.submitCard {
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  border: none;
  background-color: #67c23c;
  color: #fff;
  transition: 0.4s;
  width: 50%;
  margin: 0 auto;
  display: block;

  &:hover {
    transform: scale(1.05);
    opacity: 0.8;
  }
}
