/* STYLE PAGE NOT FOUND */
.page-not-found {
  padding: 100px 0 70px 0;
  img {
    width: 180px;
    padding-bottom: 40px;
  }
}

.btn-back-not-found {
  background-color: #7db769;
  color: #fff;
  border: none;
  padding: 17px 20px 17px 20px;
  border-radius: 50px;
  transition: 0.2s;
}

.btn-back-not-found:hover {
  opacity: 0.8;
}
